/* ========= GEOREHBER MODERN HEADER HOVER ANİMASYONU ========= */
@media (hover: hover) and (pointer: fine) {

header nav a {
  position: relative;
  padding: 10px 18px;
  color: #1A1A1A; /* normal durum siyah */
  font-weight: 600;
  z-index: 1;
  transition: 0.25s;
  text-decoration: none;
}

  /* üst-alt çizgi */
  header nav a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-top: 2px solid #a38441;
    border-bottom: 2px solid #a38441;
    opacity: 0;
    transform: scaleY(1.8);
    transition: 0.25s ease;
    z-index: -1;
  }

  /* kapsül dolgu */
  header nav a::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 4px;
    background: #a38441;
    border-radius: 6px;
    opacity: 0;
    transform: scale(0.4);
    transition: 0.25s ease;
    z-index: -1;
  }

  header nav a:hover {
    color: #fff9e0; /* hover durumunda açık sarı */
    
  }

  header nav a:hover::before {
    opacity: 1;
    transform: scaleY(1);
  }

  header nav a:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}
